available_servers:
  - '1.11.111.110'
  - 'staging_server.domain.com'

default: &default
  user: "scp_user"
  dir: "project_dir_of_remote_server"
  server: "remote_server_to_upload"
  logfile: "log_file_path_from_[dir]_to_tail_log"
  restart_cmd: "command_to_restart_server"
  start_cmd: "command_to_start_server"
  stop_cmd: "command_to_stop_server"
  restart: false     # optional
  tailog: false      # optional
  untracked: false   # optional
  pem: "$HOME/.ssh/server.pem"
  available_subcommands:
    - send

dev:
  <<: *default
staging:
  <<: *default
  server: "staging_server"
